/* _content/bug_reproduce/Component1.razor.rz.scp.css */
.my-component[b-h02rhuwzzl] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}

